<div class="info">
    <div class="header">
        <div class="logo">
            Need for drive
        </div>
        <div class="map">
            <img src="/assets/map/icon.png" alt="arrow">
            <div class="city">Ульяновск</div>
        </div>
    </div>

    <div class="main-block">
        <div class="carsharing">
            Каршеринг
        </div>
        <div class="need-for-drive">
            Need for drive
        </div>
        <div class="car-rental">
            Поминутная аренда авто твоего города
        </div>
        <div class="main-btn">
            <div>
                Забронировать
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="copyright">
            &#169; 2016-2019 &#171;Need for drive&#187;
        </div>
        <div class="number">
            8 (495) 234-22-44
        </div>
    </div>
</div>