.container, .main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.main-container {
    display: flex;
    .main-container-item {
        width: 50%;
    }

    @media screen and (max-width: 1440px) {
        .main-container-item:first-child {
            width: 57.5%;
        }

        .main-container-item:last-child {
            width: 42.5%;
        }
    }

    @media screen and (max-width: 1024px) {
        .main-container-item:first-child {
            width: 100%;
        }

        .main-container-item:last-child {
            display: none;
        }
    }
}