.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64px;
    height: 100%;
    background-color: #151b1f;
}

.left-menu {
    .lang {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        color: #0ec261;
        align-self: center;
        margin-bottom: 30px;
    }
}