.menu-btn {
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        margin-top: 24px;
    }
}

.menu-btn {
    :nth-child(n) {
        width: 24px;
        height: 3px;
        background-color: #ffffff;
        margin-bottom: 5px;
        border-radius: 2px;

        @media screen and (max-width: 1024px) {
            width: 32px;
        }

        @media screen and (max-width: 768px) {
            width: 19px;
            background-color: #151b1f;
        }
    }

    :last-child {
        margin-bottom: 0px;
    }
}

.menu-btn:hover {
    cursor: url('/assets/cursor/pointer.png'), auto;
}

.menu-btn:hover {
    :nth-child(n) {
        width: 27px;

        @media screen and (max-width: 1024px) {
            width: 35px;
        }

        @media screen and (max-width: 768px) {
            width: 22px;
        }
    }
}